body, p, li, section, article, div:not(.center) {
  text-align: justify;
}


h1 {
  text-align: center;
}


table, table tr, table td, table th {
  text-align: center;
}


.center {
  text-align: center;
}
